.button__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  button {
    cursor: pointer;
    margin-top: 20px;
    height: 7rem;
    width: 7rem;
    background-color: transparent;
    border: none;
    transition: all 0.5s;
    &:hover {
      transform: scale(1.25);
    }
  }
}
