@import "./_variables";
@import "./_extend";
@import "./_mixin";
@import "./_button"; // button {
//   @include name(2);
//   @extend %extend;
//   background-color: $color;
// }
body,
* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.main {
  height: 100vh;
  width: 100vw;
  background-color: lightseagreen;
}

.playground {
  text-align: center;
  margin: 10%;
}

.computerDiv {
  height: 7rem;
  width: 7rem;
  background-color: transparent;
  border: none;
  margin: 0 auto;
}
